# 指向你的 frps（公网）
serverAddr = "${FRPS_SERVER_ADDR}"
serverPort = 7000

[auth]
method = "token"
token  = "${FRP_TOKEN}"

[[proxies]]
name       = "minecraft"
type       = "tcp"
localIP    = "127.0.0.1"
localPort  = 25565     # 容器/主机上的MC端口
remotePort = 30000     # 在frps上的外网端口

